@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body, html {
	height: 100%;
	width: 100%;
	font-family: 'Ubuntu',sans-serif;
}
.section-quote {
	border: 1px solid #000;
	padding-top: 10rem;
	background: #2ecc71 url("../images/main.png") no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.quote-container {
	margin: auto;
	opacity: 0.5;
	width: 60%;
	background-color: #ffffff;
	border: 1px solid black;
	text-align: center;
}
.quote-container h3 {
	color: #000;
	font-weight: bold;
}
footer{
	border: 1px solid #95a5a6;
	background-color: #bdc3c7;
	padding: 5px;
	text-align: center;
}
.quote-buttons .well {
	margin: auto;
	width: 60%;
	background-color: #bdc3c7;
	border: 1px solid black;
}
/*Changing some font sizes*/
.btn {
	font-size: 1em;
	outline: none;
	box-shadow:
          1px 1px #000,
          2px 2px #000,
		  3px 3px #000;
	transition: all .3s ease-in-out;
}

.btn:active{
	transform: translate(2px, 2px);
	outline: none;
	box-shadow: none;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none !important;
}
#author-text {
	text-align: center;
	font-size: 1em;
}

/*Media queries*/
@media only screen and (max-width: 800px ) {
	.button-well .btn {
		margin: auto;
		width: 60%;

	}
	.section-quote {
		padding-top: 5rem;
	}
	.quote-buttons .well {
		text-align: center;
		padding: 0.75rem;
	}
	.quote-container h3 {
		font-size: 1em;
	}
	#next-quote-btn {
		margin-top: 0.5rem;
	}
}
@media only screen and (min-width: 800px ) {
	#next-quote-btn {
		float: right;
	}
}
